@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Styles */
body {
  background-color: #0f172a;
  /* Slate 900 */
  color: #f1f5f9;
  /* Slate 100 */
  font-family: 'Inter', sans-serif;
}

/* Ensure inputs inherit the font from body */
input,
textarea,
select,
button {
  font-family: inherit;
}